.venv/
__pycache__/
**/__pycache__/
*.py[cod]
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/

logs/*.csv
logs/*.png
logs/**/*.csv
logs/**/*.png
checkpoints/*.pt
checkpoints/**/*.pt

logs/*.out
logs/**/*.out
